{% extends 'base_configuracion.html' %}
{% load static %}

{% block contenido %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Configuración</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Impuesto</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" action="#">
              {% csrf_token %}
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <label>IVA</label>
                    <input type="text" class="form-control" name="iva" placeholder="IVA" required autofocus>
                  </div>
                  <div class="col-3">
                    <label>Valor</label>
                    <input type="number" class="form-control" name="valor" placeholder="Valor" required>
                  </div>
                </div>
              </div>
              {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
              {% endif %}
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Actualizar</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}