{% extends 'base_venta.html' %}
{% load static %}

{% block contenido %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Venta</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" style="margin-top: 10px;">Inventario</h3>

              <div class="card-tools">
                <form action="{% url 'facturar_cliente' %}" method="post">
                  {% csrf_token %}
                  <div style="display: flex; flex-direction: row; align-items: baseline;">
                    <div style="margin-right: 10px;">
                      <select class="form-control" name="equipo">
                        <option value="COM" >Computadoras</option>
                        <option value="TEL" >Telefonos</option>
                        <option value="RPC" >Repuestos de computadoras</option>
                        <option value="RPT" >Respuestos de telefonos</option>
                        <option value="ASE" >Accesorios</option>
                      </select> 
                    </div>               
                    <div style="margin-right: 10px;">
                      <select class="form-control" name="user_type">
                        <option value="codigo" >Código</option>
                        <option value="articulo" >Artículo</option>
                        <option value="marca" >Marca</option>
                        <option value="modelo" >Modelo</option>
                        <option value="no_serie" >N° serie</option>
                        <option value="cantidad" >cantidad</option>
                        <option value="costo" >costo</option>
                      </select> 
                    </div>               
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Busqueda">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-head-fixed text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Artículo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>N° serie</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th></th> 
                  </tr>
                </thead>
                <tbody>
                  {% for computadora in inventario %}
                    <tr>
                        <td>{{ computadora.id }}</td>
                        <td>{{ computadora.codigo }}</td>
                        <td>{{ computadora.articulo }}</td>
                        <td>{{ computadora.marca }}</td>
                        <td>{{ computadora.modelo }}</td>
                        <td>{{ computadora.no_serie }}</td>
                        <td>{{ computadora.cantidad }}</td>
                        <td>{{ computadora.costo }}</td>
                        <td><a href="#" class="btn btn-block btn-success">Agregar</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% if messages %}
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
            {% endif %}
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                  {% if inventario.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primero</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ inventario.previous_page_number }}">Anterior</a></li>
                  {% endif %}
          
                  <span class="current page-item active">
                      <a class="page-link">Página {{ inventario.number }} de {{ inventario.paginator.num_pages }}.</a>
                  </span>
          
                  {% if inventario.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ inventario.next_page_number }}">Siguiente</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ inventario.paginator.num_pages }}">Último &raquo;</a></li>
                  {% endif %}
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" style="margin-top: 2px;">Inventario</h3>
              <div class="card-tools">
                <div style="display: flex; flex-direction: row; align-items: baseline;">
                  <div style="margin-right: 10px;">
                    <h3 class="card-title">Total</h3> 
                  </div>   
                  <div style="margin-right: 10px;">
                    <h3 class="card-title">Iva</h3> 
                  </div>   
                  <div style="margin-right: 10px;">
                    <h3 class="card-title">Sub-Total</h3>    
                  </div>   
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-head-fixed text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Artículo</th>
                    <th>C/U</th>
                    <th>Total</th>
                    <th></th> 
                  </tr>
                </thead>
                <tbody>
                  {% for computadora in inventario %}
                    <tr>
                        <td>{{ computadora.id }}</td>
                        <td>{{ computadora.codigo }}</td>
                        <td>{{ computadora.articulo }}</td>
                        <td>{{ computadora.articulo }}</td>
                        <td>{{ computadora.articulo }}</td> 
                        <td><a href="#" class="btn btn-block btn-danger">Cancelar</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

</div>

{% endblock %}