{% extends 'base.html' %}
{% block contenido %}
<div class="login-box">
  <div class="login-logo">
    <a><b>Registrar</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Cada día es una oportunidad para crear algo nuevo y maravilloso</p>

      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Correo electronico" name="email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Usuario" name="username" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="social-auth-links text-center mb-3">
          <button type="submit" class="btn btn-block btn-primary btn">Registrarse</button>
        </div>
        {% if messages %}
            {% for message in messages %}
                    {{ message }}
            {% endfor %}
        {% endif %}
      </form>

      <!-- /.social-auth-links -->

      <p class="mb-0">
        <a href="{% url 'login' %}" class="text-center">Iniciar sesión</a>
      </p>
      <p class="mb-1">
        <a href="forgot-password.html">Haz olvidado tu contraseña</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}